.create-course-section
{
  width: min(100%, 760px);
}

.form-container
{
  width: 100%;

  padding: 24px;
  box-sizing: border-box;

  background-color: var(--opaque-bg);
  border-radius: var(--border-radius, 1rem);
  box-shadow: var(--std-box-shadow);

  position: relative;
  overflow: hidden;
}

.form-container::before
{
  content: "";
  position: absolute;
  inset: 0;

  padding: 2px;
  border-radius: inherit;

  background: var(--gradient-bg);

  -webkit-mask: linear-gradient(#000 0 0) content-box,
  linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;

  mask: linear-gradient(#000 0 0) content-box,
  linear-gradient(#000 0 0);
  mask-composite: exclude;

  pointer-events: none;
}

.formular
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.form-column
{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  min-width: 300px;
}

.form-footer-note
{
  font-size: 0.8rem;
  flex-basis: 100%;
}

.form-group
{
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
  justify-items: flex-start;
}

.form-end-group
{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.form-btn-group
{
  display: flex;
  flex-direction: column;
  margin-top: 0.45rem;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner
{
  -moz-appearance: textfield;
}

.form-group label
{
  font-weight: 600;
}

.form-group input,
.form-group textarea
{
  width: 100%;
  padding: 1rem;

  font-family: inherit;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.14);

  background: rgba(2, 6, 47, 0.55);

  color: white;
  font-size: 1rem;

  outline: none;

  transition: border-color 0.2s ease,
  transform 0.2s ease,
  box-shadow 0.2s ease;
}

.form-group textarea
{
  resize: vertical;
  min-height: 80px;
}

.form-group input::placeholder,
.form-group textarea::placeholder
{
  color: rgba(255, 255, 255, 0.45);
}

.form-group input:focus,
.form-group textarea:focus
{
  border-color: #45b883;

  box-shadow: 0 0 0 4px rgba(69, 184, 131, 0.2);
}


.create-course-btn
{
  margin-top: 20px;
  min-width: 180px;
  flex: none;
  align-self: center;
  border: none;
  border-radius: 16px;

  padding: 1rem 1.2rem;

  background: var(--gradient-bg)
}

.create-course-btn:hover
{
  transform: translateY(-2px);
  box-shadow: 0 12px 12px rgba(69, 184, 131, 0.35);
}

.cancel-course-btn
{
  background: var(--menu-gradient);

  margin-top: 1.5rem;
  align-self: center;
  width: auto;
  border-radius: 16px;
  color: var(--super-light-blue);

  padding: 1rem 1.2rem;
}

.cancel-course-btn:hover
{
  text-decoration: underline;
}

@media (max-width: 600px)
{
  .formular
  {
    flex-direction: column;
  }
}
