.mobile-layout {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.desktop-layout {
    display: flex;
    min-height: 100vh;
}

.page-container {
    width: 100%;
    min-height: 100vh;
    padding: clamp(2rem, 5vw, 5rem);
    box-sizing: border-box;

    background: linear-gradient(
            135deg,
            #02062f 0%,
            #0a1f3f 40%,
            #1b5260 75%,
            #45b883 100%
    );

    color: #f5f7fa;

}


@media (min-width: 770px) {

}