.course-card {
  position: relative;
  padding: var(--std-padding);
  display: flex;
  flex-direction: column;
  gap: var(--std-gap);

  background-color: var(--opaque-bg);
  box-shadow: var(--std-box-shadow);
  border-radius: var(--border-radius);

  width: 440px;
  height: 320px;
  box-sizing: border-box;
}

.course-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;

  background: var(--gradient-bg);

  -webkit-mask:
          linear-gradient(#000 0 0) content-box,
          linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;

  mask:
          linear-gradient(#000 0 0) content-box,
          linear-gradient(#000 0 0);
  mask-composite: exclude;

  pointer-events: none;
}

.course-card-price {
  display: flex;
  font-weight: 500;
  justify-content: flex-end;

  margin-top: auto;
}

.course-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-card-actions {
  display: flex;
  gap: calc(2 * var(--std-gap));
  justify-content: flex-end;
}

.course-card {
  cursor: pointer;
}

